# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

# Rider
.idea/

# ReSharper
_ReSharper*/

# VSCode
.vscode/

# Arquivos de build
*.dll
*.exe
*.pdb
*.app
*.class

# Pacotes
*.nupkg
*.snupkg

# Dependências
node_modules/

# Public / logs
*.log
